.nektar-btn {
  outline: none;
  padding: 8px 25px;
  color: #000;
  background: $green;
  border-radius: 50px;
  color: white;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.1s linear;
  border: none;
  outline: none;

  &:hover {
    background: darken($green, 5%);
  }

  &.disabled {
    cursor: default;
    border: 1px solid $border;
    color: $border;
    background-color: transparent;

    &:hover {
      border: 1px solid $border;
    }

    &:focus {
        border: 1px solid $border;
    }
  }
}
