.ns-footer {
    height: 65px;
    background-color: transparent;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 0px 20px;


    .txt {
        color: white;
        font-size: 12px;
    }
}