.top-navigation {
    background-color: $red;
    padding: 15px;

    .top-navigation-cont {
        width: 100%;
        max-width: 1080px;
        height: 65px;
        background-color: $yellow;
        border-radius: 100px;
        margin: auto;
        padding: 10px 25px;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .profile {
        display: flex;
        align-items: center;
        justify-content: end;
    }
}

@media (max-width: 600px) {
    .top-navigation {
        height: 80px;

        .logo {
            justify-content: center;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .profile {
            justify-content: center;
        }
    }
}