.ns-footer {
    height: 65px;
    border-top: 1px solid $border;
    background-color: transparent;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 0px 20px;

    .txt {
        color: $lightblue;
        font-size: 12px;
    }
}