.mint-page {
  width: 100%;
  height: 100%;
  background-color: black;

  .page-content-wrapper {
    &.animate {
      padding: 1px;
      background-color: $lightblue;
      border-radius: 25px;
      --border-angle: 0turn; // For animation.
      --main-bg: conic-gradient(
        from var(--border-angle),
        #213,
        #112 5%,
        #112 60%,
        #213 95%
      );

      border: solid 2px transparent;
      --gradient-border: conic-gradient(
        from var(--border-angle),
        transparent 25%,
        rgb(0, 255, 213),
        rgb(205, 19, 90) 99%,
        transparent
      );

      background: var(--main-bg) padding-box, var(--gradient-border) border-box,
        var(--main-bg) border-box;

      background-position: center center;
      animation: bg-spin 3s linear infinite;

      .page-content {
        background: #000;
        border: none;
      }
    }
  }

  .mint-page-container {
    width: 100%;
    min-height: calc(100vh - 65px);
    background: linear-gradient(
      360deg,
      rgba(16, 40, 40, 0.5) 0%,
      rgba(0, 0, 0, 1) 100%
    );
    padding: 10px;
    .page-content {
      width: 450px;
      min-height: 100px;
      background: rgb(0, 0, 0, 0.25);
      border-radius: 25px;
      padding: 20px;
      border: 1px solid $border;
    }

    .mint-input {
      background: black;
      height: 50px;
      border-radius: 8px;
      width: 100%;
      outline: none;
      box-shadow: none;
      border: none;
      color: white;
      border: 1px solid $border;
      padding-left: 10px;
    }
    .input-cont {
      position: relative;
      .input-load {
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }
    .error-msg {
      margin-top: 10px;
      padding: 10px;
      border: 1px solid rgb(255, 0, 81);
      background-color: rgb(255, 0, 81, 0.05);
      font-size: 12px;
      color: #fff;
      border-radius: 8px;
    }
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}
