.top-navigation {
    height: 65px;
    background-color: #000;
    border-bottom: 1px solid lighten(#000, 8%);
    padding: 0px 20px;

    .logo {
        display: flex;
        align-items: center;
    }

    .profile {
        display: flex;
        align-items: center;
        justify-content: end;
    }
}

@media (max-width: 600px) {
    .top-navigation {
        height: 80px;

        .logo {
            justify-content: center;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .profile {
            justify-content: center;
        }
    }
}