@import "./theme.scss";



Button {
    border-radius: 5px !important;
    transition: transform 0.1s !important;

    &:hover {
        transform: scale(1.03) !important;
    }
}



.ju367vn {
    background: $accent !important;
    color: $light !important;
    border-color: $accent !important;
    border-radius: 20px !important;
}

.ju367vo {
    border-radius: 12px !important;
}