.mint-form {
  
  .tech-input-container {
    position: relative;

    .loader-cont {
      position: absolute;
      right: 10px;
      top: 7px;
    }
  }
  .err-container {
    .err-message {
      font-size: 12px;
      color: $pink;
      text-align: center;
    }
  }

  .success-screen {
    .avatar-cont {
      padding: 1px;
      width: 152px;
      height: 152px;
      background-color: $yellow;
      display: flex;
      justify-content: center;
      align-items: center; 
    }
  }

  .cost-info {
    position: absolute;
    color: $yellow;
    top: 5px;
    right: 10px;
    font-size: 13px;
    cursor: pointer;
  }


  .generate-txt {
    cursor: pointer;

    &:hover {
      text-shadow:0px 0px 2px $yellow, 0px 0px 2px $yellow;
    }

    &.generating {
      text-shadow:0px 0px 2px $yellow, 0px 0px 2px $yellow;
    }

    &.disabled {
      cursor: not-allowed;
      color: grey;
    }
  }
  
  .form-container-square {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.tech-avatar-cont {
  width: 150px;
  height: 150px;
  outline: 1px solid $yellow;
}

  .form-tech-container {
    width: 450px;
    min-height: 300px;
    position: relative;
    border: 1px solid $yellow;
    background-color: rgba(44, 18, 79, 0.5);
    clip-path: circle(100%);
    padding: 25px;
    border-radius: 3%;



    .input-name {
      color: $green;
    }
  }
}

.tech-input {
    outline: 1px solid $yellow;
    background: transparent;
    border: none;
    color: $green;
    height: 40px;
    padding-left: 15px;
    width: 100%;
    padding: 15px;
    &::placeholder {
        color: rgb(255,255,255,0.3) !important;
    }

    &:focus {
      transition: 0.4s all linear;
      outline: 1px solid $yellow;
    }

    &::placeholder {
      color: white;
    }
  }


  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }

.load-border {
  width: 153px;
  height: 153px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 1px 0 #000;
  
  --border-angle: 0turn; // For animation.
  --main-bg: conic-gradient(
      from var(--border-angle),
      #213,
      #112 5%,
      #112 60%,
      #213 95%
    );
  
  border: solid 5px transparent;
  --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, rgb(44, 18, 79), rgb(255, 184, 25) 99%, transparent);
  
  background: 
    // padding-box clip this background in to the overall element except the border.
    var(--main-bg) padding-box,
    // border-box extends this background to the border space
    var(--gradient-border) border-box, 
    // Duplicate main background to fill in behind the gradient border. You can remove this if you want the border to extend "outside" the box background.
    var(--main-bg) border-box;
  
  background-position: center center;
  animation: bg-spin 3s linear infinite;
}


@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

@media (max-width: 600px) {
    .mint-form {
        padding: 15px;
        padding-top: 120px;
        .form-tech-container {
            width: 100%
        }
        .form-header {
            h1 {
                font-size: 34px !important;
                line-height: 36px !important;
            }
        }
    }
}

.cost-modal {
  .price {
    padding: 5px 6px;
    p {
      margin: 0px;
    }
    border-bottom: 1px solid $yellow;
  }
  color: $yellow;
}