/* src/styles/fonts.css */
@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat.ttf') format('woff2');
    font-weight: 100 900; /* Adjust weight range */
    font-style: normal;
  }

/* src/styles/fonts.css */
@font-face {
  font-family: 'Impact';
  src: url('../assets/fonts/Impact.ttf') format('woff2');
  font-style: normal;
}