@font-face {
    font-family: "ShareTech";
    src: url("../assets/fonts/ShareTech-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
      font-family: "Microsport";
      src: url("../assets/fonts/Microsport-Bold.ttf") format("truetype");
      font-weight: normal;
      font-style: normal;
    }
    