@import "./vars.scss";
@import "./fonts.scss";
@import "bootstrap/scss/bootstrap.scss";
@import "@rainbow-me/rainbowkit/styles.css";
@import "../components/styles";

div[data-rk] {
    // overflow: hidden;
    // height: 100vh;
}

* {
    font-family: 'Microsport';
}

a {
    text-decoration: none;
}

.error-msg {
    font-size: 12px;
    color: $pink;
}

/* The entire scrollbar */
::-webkit-scrollbar {
    width: 8px; /* Width for vertical scrollbar */
    height: 8px; /* Height for horizontal scrollbar */
  }
  
  /* The track (background) of the scrollbar */
  ::-webkit-scrollbar-track {
    background: rgb(0, 0, 0, 0.35); /* Color of the track */
    border-radius: 7px; /* Rounded corners */
  }
  
  /* The handle (thumb) of the scrollbar */
  ::-webkit-scrollbar-thumb {
    background-color: $yellow; /* Color of the thumb */
    border-radius: 7px; /* Rounded corners */
    border: 3px solid $yellow; /* Adds padding around the thumb */
  }
  
  /* On hover */
  ::-webkit-scrollbar-thumb:hover {
    // background-color: darken($yellow, 20%); /* Darker color when hovering */
  }