.single-subname {
    color: white;
    .avatar {
        width: 150px;
        height: 150px;
        border-radius: 100%;
        outline: 3px solid $yellow;
    }

    .subtext {
        font-size: 24px;
        color: $yellow;
        margin-bottom: 0px;
    }

    .mainnav {
        font-size: 18px;
        cursor: pointer;
        &.active {
            cursor: default;
            color: $yellow;
        }
    }

    .update-btn {
        padding: 0px 10px;
        margin-top: 10px;
    }

    .record-container {
        padding: 20px;
        display: flex;


        .input-label {
            color: $yellow;
        }


        .text-green {
            color: $yellow;
            font-size: 14px;
        }

        .record-badge {
            outline: 1px solid $yellow;
            display: flex;
            align-items: center;
            color: $yellow;
            padding: 5px 10px;
            margin: 5px;
            cursor: pointer;
            transition: all 0.3s linear;

            &.unset {
                opacity: 0.5;
            }



            &:hover {
                transform: scale(1.1);
                outline: 1px solid #FFF;
            }

            &.selected {
                outline: 1px solid #FFF;
                transform: scale(1.1);
            }
        
            .address {
                width: 20px;
            }
        }
    }
}

@media (max-width: 660px) {
    .single-subname {
        .avatar {
            width: 90px;
            height: 90px;
        }
        .subtext {
            font-size: 18px;
        }
        .mainnav {
            font-size: 14px;
        }
        .record-container {
            padding: 5px !important;
        }
        .record-badge {
            font-size: 13px;
            .address {
                width: 15px;
                height: 15px;
            }
        }
        .btn-plain {
            height: 35px;
        }

        .input-label {
            font-size: 13px;
        }
    }
  }
  