@keyframes gear-rotate {
    100% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spin-gear {
    display: block;
    animation: gear-rotate 2s infinite ease-in-out;
    svg {
        color: $yellow;
    }
}