@keyframes gear-rotate {
    to {
        transform: rotate(360deg);
    }
}

.spin-gear {
    display: block;
    animation: gear-rotate 1.5s linear infinite;
    transform-origin: 50% 50%;

    svg {
        color: $yellow;
        display: block;
    }
}

@media (prefers-reduced-motion: reduce) {
    .spin-gear {
        animation-duration: 3s;
    }
}
